*
!.gitignore
!/.vim/
!/.vim/*
!/.vim/**/*
!.vimrc
!.Xresources
!.bashrc
!.bash_aliases
!.bash_logout
!/.bash/
!/.bash/*
!/.bash/**/*
!/.bash/git-scripts
!/.bash/git-scripts/*
!/.bash/git-scripts/**/*
!/.bash/liquidprompt
!/.bash/liquidprompt/*
!/.bash/liquidprompt/**/*
!/.vim/vim-addons/jellybeans
!/.vim/vim-addons/jellybeans
!/.vim/vim-addons/jellybeans
