[submodule ".bash/git-scripts"]
	path = .bash/git-scripts
	url = https://github.com/grodtron/git-scripts.git
[submodule ".bash/liquidprompt"]
	path = .bash/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
